@import './styles/reset.scss';
@import './styles/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import './components/Header/Header.scss';


@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria-Bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Geometria, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $black;
  background: $white;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  
  // @media (min-width: 640px) {
  //   max-width: 640px;
  // }
  // @media (min-width: 768px) {
  //   max-width: 768px;
  // }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

h4 {
  @apply text-xl;
}

